.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    background-color: #3a3a3a !important;
    border-radius: 5px !important;
    color: #fff !important;
    width: auto !important;
    padding: 0 20px !important;
  }
